@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/**
 * Page background
 */
.main {
  font-size: 12px;
  line-height: 1em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.user_registered_login,
.user_unregistered_signup {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 30px;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.user_registered_login:hover,
.user_unregistered_signup:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: #ccc;
}

/**
 * Login and signup forms
 */
.user_options_forms {
  position: relative;
  width: 650px;
  margin: 0 auto;
  min-height: 420px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
}

.user_options_forms .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: #e8716d;
  letter-spacing: 0.1rem;
}

.user_options_forms .forms_field_input {
  width: 100%;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 20px 6px 6px;
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.user_options_forms .forms_field_input:focus {
  border-color: gray;
}

.user_options_forms .forms_buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 35px;
}

.user_options_forms .forms_buttons_forgot {
  letter-spacing: 0.1rem;
  color: #ccc;
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.user_options_forms .forms_buttons_forgot:hover {
  color: #b3b3b3;
}

.user_options_forms .forms_buttons_action {
  position: relative;
  min-width: 300px;
  height: 40px;
  background-color: #e8716d;
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.user_options_forms .forms_buttons_action:hover {
  background-color: #e14641;
}

.user_options_forms .user_forms_signup,
.user_options_forms .user_forms_login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
  -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
  -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
  transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
  transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.user_options_forms .user_forms_signup {
  -webkit-transform: translate3d(120px, 0, 0);
  transform: translate3d(120px, 0, 0);
}

.user_options_forms .user_forms_login {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
 * Triggers
 */
.user_options_forms.bounceLeft {
  -webkit-animation: bounceLeft 1s forwards;
  animation: bounceLeft 1s forwards;
}

.user_options_forms.bounceLeft .user_forms_signup {
  -webkit-animation: showSignUp 1s forwards;
  animation: showSignUp 1s forwards;
}

.user_options_forms.bounceLeft .user_forms_login {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-120px, 0, 0);
  transform: translate3d(-120px, 0, 0);
}

.user_options_forms.bounceRight {
  -webkit-animation: bounceRight 1s forwards;
  animation: bounceRight 1s forwards;
}

.errors_alert {
  font-size: 12px;
  color: red;
}

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px) {
  .user_options_forms {
    min-height: 350px;
  }
  .user_options_forms .forms_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .user_options_forms .user_forms_login .forms_buttons_action {
    margin-top: 30px;
  }
  .user_options_forms .user_forms_signup,
  .user_options_forms .user_forms_login {
    top: 40px;
  }

  .user_options_registered,
  .user_options_unregistered {
    padding: 50px 45px;
  }
}

.forms_form {

}

.forms_field {

}

.form__label {

}
